
  <div style="display: flex;  background-color: #c7c7c7;  justify-content: space-between; height: 100vh;">
    <mat-card (mousemove)="onMouseMove($event)" style="width: 501px; height: 501px;margin: 0px; padding: 0px;">
      <canvas (click)="onClick($event)" #canvas id='canvas' width="500" height="500"
        style="border:1px solid #000000;"></canvas>
      <div
        style="display:flex; flex-direction: row; justify-content: space-between; color:#c7c7c7; background-color: #fafafa; padding: 10">
        <span>x: {{displayService.positionViewport.x}}, y: {{displayService.positionViewport.y}}</span>
        <span>x: {{displayService.positionViewport.newX}}, y: {{displayService.positionViewport.newY}}</span>
      </div>
      <mat-card style="justify-content: center; display: flex; align-items: center; width: 100px; ">
        <div>
  
        </div>
        <button (click)='onMoviment(0,0,10,0)' mat-mini-fab color="accent"
        aria-label="Example icon button with a plus one icon">
        <mat-icon>arrow_left</mat-icon>
      </button>
        <div style="">
          <button (click)='onMoviment(10,0,0,0)' mat-mini-fab color="accent"
          aria-label="Example icon button with a plus one icon">
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
          <button (click)='onMoviment(0,10,0,0)' mat-mini-fab color="accent"
          aria-label="Example icon button with a plus one icon">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        </div>
        <button (click)='onMoviment(0,0,0,10)' mat-mini-fab color="accent"
        aria-label="Example icon button with a plus one icon">
        <mat-icon>arrow_right</mat-icon>
      </button>

      </mat-card>
    </mat-card>

    <div style="display: flex;">
      <mat-card style="margin-left: 10px; height: 250px;">
        <ul>
          <li> <button (click)='onInsertPoligono()' mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>edit</mat-icon>
            </button>
          </li>
          <li> <button (click)='clearPainel()' mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </li>
          <li> <button (click)='onCirc(0, 0, 150)' mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>radio_button_unchecked</mat-icon>
            </button>
          </li>
          <li> <button (click)='onCliping(-100, -100, 100, 100)' mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>fullscreen</mat-icon>
            </button>
          </li>
          <li> <button (click)='onZoomIn(100, 100, -100, -100)' mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>zoom_in</mat-icon>
            </button>
          </li>
          <li> <button (click)='onZoomIn(-100, -100, 100, 100)' mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>zoom_out</mat-icon>
            </button>
          </li>
        </ul>
      </mat-card>
      <div style="width: 320px; background-color: #fafafa; overflow:scroll; max-height: 100vh;">
        <p>Poligonos</p>

        <mat-card style="display: flex; background-color: #fafafa; margin: 5px;">
          <mat-form-field appearance="legacy" style="width: 40px; margin: 0px; ">
            <input matInput placeholder="X" type="number" matInput [(ngModel)]="transladX"
              [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <mat-form-field appearance="legacy" style="width: 40px; margin: 0px">
            <input matInput placeholder="Y" type="number" matInput [(ngModel)]="transladY"
              [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <button style="height: 50px;" mat-button color="primary"
            (click)='onTransLad(poligonoId, transladX, transladY)'> Transladar</button>
        </mat-card>

        <mat-card style="display: flex; background-color: #fafafa; margin: 5px;">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="typeRotation" style="margin: 10px; display: flex; flex-direction: column;">
            <mat-radio-button class="example-radio-button" value='padrao' style="font-size: 12px;">
              Padrão
            </mat-radio-button>           
             <mat-radio-button class="example-radio-button" value='homogenea' style="font-size: 10px;">
              Homogenea
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field appearance="legacy" style="width: 50px;">
            <input type="number" matInput placeholder="0º" [(ngModel)]="angulo" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <button mat-button color="primary" (click)='onRotation(poligonoId, angulo, typeRotation)'
            style="height: 10px;">
            rotacionar</button>
        </mat-card>
        <mat-card>
          <div *ngFor='let index of displayService.display.poligonos'>
            <span style="color:#c7c7c7; font-size: 10px;"> {{index.tipo}}</span>
            <mat-card style="padding: 5px; margin-bottom: 5px;">
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="poligonoId">
                <mat-radio-button class="example-radio-button" [value]=index.id>
                  {{index.selected ? 'selecionado' : null}}
                </mat-radio-button>
              </mat-radio-group>
              <button (click)='onVisiblePoligono(index.id)' mat-icon-button color="warn"
                aria-label="Example icon button with a heart icon">
                <mat-icon color="primary" *ngIf='index.visible'>visibility</mat-icon>
                <mat-icon style="color:#c7c7c7" *ngIf='!index.visible'>visibility_off</mat-icon>
              </button>
              <button (click)='onVisiblePoligono(index.id)' mat-icon-button color="warn"
                aria-label="Example icon button with a heart icon">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
